%flexbox-inline {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
%flexbox-col {
    display: flex;
    flex-direction: column;
}

%ul {
    list-style: none;
    padding: 10px 0;
}
$colorheader: #fff;
$colorbox: rgb(241, 219, 18);
$textwhite: #fff;

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

/* main */
.content-main {
    width: 1000px;
    margin: auto;
    margin-top: 30px;
    border: 1px solid gray;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "1 2"
    "3 4";
}

/* header */

header {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
   /* @extend %flexbox-inline; */
   display: grid;
   grid-template-columns: 1fr 3fr;
   grid-template-areas: 
   "1 2";

   & .photo-profil {
       grid-column-start: 1;
       align-items: center;
   }

   & .profil {
       grid-column-start: 2;
   }

}

.profil {
    @extend %flexbox-col;
    padding: 40px;
}

.profession {
    background: $colorbox;
    font-size: 0.9em;
    width: auto;
    color: black;
    padding: 2px;
}
 span {
     margin-bottom: 20px;
 }

/* aside */

aside {
    grid-column-start: 1;
    grid-row-start: 3;
    background: rgb(41, 41, 53);
    color: $textwhite;
    font-size: 1em;

    & .presentation {
        @extend %flexbox-col;
        padding-left: 20px;
        height: 100%;

        justify-content: space-between;

        ul {
            @extend %ul;
        }
    }

}

.date-school {
    & ul {
        padding: 0;
        margin: 0;

        & p {
            margin: 0;
        }
    }
}

.phone {
    & ul {
        padding: 0;
        margin: 0;

        li {
            padding-bottom: 10px;
        }

        & p {
            margin: 0;
        }
    }
}

.content-edu {
    padding: 20px;
}
/* section */


section {
    grid-column-start: 2;
    grid-row-start: 3;
    background: rgb(34, 34, 46);
    color: $textwhite;
    font-size: 1em;

    article {
        padding: 20px;
        @extend %flexbox-col;
    }

    ul {
        @extend %ul;
    }

}

.interet ul li a {
    color: $colorbox;
}


/* interet */ 
.list-interet {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;

    & li {
        @extend %flexbox-col;
        align-items: center;
        padding: 10px;
    }

    & a {
        text-decoration: none;
    }

    img {
        width: 60px;
        height: auto;
        color: #fff;
    }
}


